@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

/* PHONE STYLES */
@media only screen and (width: 320px) and (orientation: portrait) {
    html, body {
        max-height: 768px;
        min-width: 320px;
        max-width: 480px;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    .master-container {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
    }

    nav {
        background-color: #000;
        color: #FFF;
        height: 20vh;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .page-title {
        font-family: 'Playfair Display', serif;
        letter-spacing: 0.3em;
        text-align: center;
        margin: 0;
        padding: 1.2em 0;
    }

    li[class*="nav-li"]{
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        margin: 0.2em 1.5em 0.5em 0;
        text-align: center;
    }

    li[class*="mobile"] {
        display: none;
    }

    a, a:visited {
        color: white;
        text-decoration: none;
    }

    main {
        width: 100%;
        height: 70vh;
        background-color: #333;
        display: flex;
        justify-content: space-around;
    }

    .img-slides {
        position: relative;
        margin: auto;
    }

    .img-one {
        height: 450px;
        width: 250px;
        margin: 2.6em 0.5em;
    }

    .img-two {
        display: none;
    }

    .desktop-form-container {
        display: none;
    }

    footer {
        color: #fff;
        background-color: #000;
        height: 10vh;
        width: 100%;
        font-family: 'Playfair Display', serif;
        text-align: center;
    }

    .footer-text {
        margin: 2em 2em;
        letter-spacing: 0.2em;
    }

}